/* Normalize box-sizing */
div,
ul,
li,
a,
section,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
textarea,
footer,
header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: outside none none;
}

small {
    font-size: smaller;
}

h2 {
    padding: 20px;
}

/* Style input */
input[type="text"],
input[type="search"],
textarea {
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    height: 56px;
    padding: 7px;
    width: 100%;
}

body,
input,
textarea {
    color: rgba(0, 0, 0, 0.75);
    font: 15px/20px "open_sansregular", sans-serif;
}

/* Set parameters on controls (geocoder and reverse)*/
input.photon-input {
    width: 400px;
}

.solution_card {
    width: auto !important;
    margin: 30px !important;
    padding: 20px !important;
}

.popup {
    position: fixed;
    z-index: 100;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: #80808036;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    top: 0;
}

.popup_message {
    padding: 80px;
    background: white;
    border-radius: 10px;
}

.showSearchBar {
    visibility: hidden;
}

.pret_materiel2 {
    visibility: hidden;
}

/* timeline */


.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem
}

@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #888888;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }

    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted #888888;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }
}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #888888;
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5;
    background-color: #afafaf;
}

.timeline-steps .timeline-content .inner-circle.done {
    background-color: #3b82f6;
}


.timeline-steps .timeline-content .inner-circle.done:before {
    background-color: #3b82f6;
}